.*.swp
*.bak
*.old
*.tgz
*.zip
*.csv
*.json
*.jpg
*.jpeg
*.pdf
*.png
CM/*
__pycache__/*
venv/*
.spyproject/*
*.txt
Essais/*
Telechargements/*
Logs*
Emails/*
CoffreFort*
nextcloudRescan.sh
Dumps/*
convert*.php
